.CardHandler{
    display: flex;
    margin-right: 20%;
    margin-left: 20%;

}
.TotalHome{
    background-color: lightgrey;
}
#colorsid
{
    background: white!important;
    color: black!important;
}
.iconclassname
{
    color: black!important;
    fill: black!important;
}
.AppBarImg{
    max-height: 78px;
    margin-top: 1px;
    margin-bottom: 1px;
    max-width: 100px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.Sliderconteiner{
    overflow: hidden;
    height: 400px;
}
.canBtn{
    /*font-size: 32px;*/
    margin-right:3%;
}
.searchBtn{
    margin-right:5%;
}